<div class="comment {{#if active}}comment-active{{/if}}" id="comment-{{id}}" comment-id="{{id}}">
	<a href="{{user.url}}">
		<div class="comment-avatar color-{{user._id}}" style="display:{{#if user.colorAvatar}}block{{else}}none{{/if}};background:{{user.avatarColor}}"></div>
		<img class="comment-avatar avatar-{{user._id}}" style="display:{{#if user.colorAvatar}}none{{else}}block{{/if}}" src="{{user.avatar}}">
	</a>
	<div class="comment-content">
		<span class="comment-name"><a href="{{user.url}}"><b>{{user.name}}</b></a></span>
		<br/>
		{{{richText}}}
		<div class="comment-time">
			<span class="timestamp" unix-time="{{time}}">{{#if timestamp}}{{timestamp}}{{else}}{{time}}{{/if}}</span>
			{{#if owner}}
				&bull; <a onclick="Graphene.comments.delete('{{post}}','{{id}}')" title="Delete this Comment.">Delete</a>
			{{/if}}
		</div>
	</div>
	<div style="clear:both;"></div>
</div>