{{#each notes}}
<div class="card note {{#if read}}note-read{{/if}}" notes-id-list="{{ids}}">
	<div class="note-content">
		<img class="note-avat" src="{{users.0.avatar}}">
		<div class="note-info">
			{{names}}
			{{#strCompare type 'comment'}}
				{{#if yours}}
					commented on your post.
				{{else}}
					also commented on this post.
				{{/if}}
			{{/strCompare}}
			{{#strCompare type 'rating'}}
				rated your post.
			{{/strCompare}}
			{{#strCompare type 'attag'}}
				tagged you in a post.
			{{/strCompare}}
			{{#strCompare type 'follow'}}
				started following you.
			{{/strCompare}}
			{{#if post.preview}}
				"{{post.preview}}"
			{{/if}}
			<div class="note-time">
				<span class="timestamp" unix-time="{{time}}">{{timestamp}}</span>
			</div>
			<a href="{{link}}" onclick="_g.n.read('{{ids}}')">
				<div class="note-link"></div>
			</a>
			<div class="note-icons">
				{{#unless read}}
					<span title="Mark as read" onclick="_g.n.read('{{ids}}')"><i class="icon note-icon material-icons">visibility</i></span>
				{{/unless}}
				<span title="Delete" onclick="_g.n.delete('{{ids}}')"><i class="icon note-icon material-icons">delete</i></span>
			</div>
		</div>
	</div>
</div>
{{/each}}