{{#if all}}
<div class="card">
{{/if}}
	{{#ifCond all '||' header}}
	<div class="post-header">
		<a href="{{user.url}}">
			<div class="post-avatar color-{{user.id}}" style="display:{{#if user.colorAvatar}}block{{else}}none{{/if}};background:{{user.avatarColor}};"></div>
			<img class="post-avatar avatar-{{user.id}}" style="display:{{#if user.colorAvatar}}none{{else}}block{{/if}}" src="{{user.avatar}}">
		</a>
		<div class="post-name"><a href="{{user.url}}"><b>{{user.name}}</b></a></div>
		<div class="post-time">{{#if url}}<a permalink href="{{url}}" class="timestamp" unix-time="{{time}}">{{/if}}{{#if timestamp}}{{timestamp}}{{else}}{{time}}{{/if}}{{#if url}}</a>{{/if}}</div>
		{{#if menu}}	<div class="material-icons icon post-menu">expand_more</div>{{/if}}
		{{#if favoritable}} <div class="material-icons icon post-favorite
			{{#if favorited}}is-favorite{{/if}}"
			onclick="_g.p.{{#if favorited}}un{{/if}}favorite('{{id}}')">
			favorite{{#unless favorited}}_outline{{/unless}}
		</div>{{/if}}
		{{#if enlarge}}	<div class="material-icons icon post-enlarge" onclick="_g.p.enlarge('{{id}}')">fullscreen</div>{{/if}}
		{{#if newFeed}}	<div class="feed-new" onclick="_g.s.newFeed(prompt('New name:'))"></div>{{/if}}
	</div>
	{{/ifCond}}
	{{#ifCond all '||' content}}
	<div class="post-content">
		{{#if blankPost}}
			<br><br><br><br><br><br>
		{{else}}
			<div class="post-desc" id="post-desc-{{id}}">
				{{#if editable}}
					<div style="display:none;" id="post-edit-{{id}}" class="post-edit">
						<form>
							<textarea id="post-editbox-{{id}}" name="post-edit-content" class="post-textbox">{{plainText}}</textarea>
							<div class="post-button cancel" onclick="{{cancelEdit}}">CANCEL</div>
							<div class="post-button" onclick="{{saveEdit}}">SAVE</div>
						</form>
					</div>
				{{/if}}
				<div class="post-text" id="post-text-{{id}}">{{{richText}}}</div>
			</div>
		{{/if}}
	</div>
	{{/ifCond}}
	{{#ifCond all '||' comments}}{{#unless blankPost}}
		<div class="post-comments" style="display:none;">
			<div style="display:{{loadMore}};" class="comment-more" onclick="Graphene.comments.load('{{id}}',false,5)">Load More</div>
			{{#each commentList}}
				{{> comment}}
			{{/each}}
			{{#if commentable}}
				<div class="comment" id="comment-creator-{{id}}">
					<a href="{{you.url}}">
						<div class="comment-avatar color-{{you._id}}" style="display:{{#if you.colorAvatar}}block{{else}}none{{/if}};background:{{you.avatarColor}}"></div>
						<img class="comment-avatar avatar-{{you._id}}" style="display:{{#if you.colorAvatar}}none{{else}}block{{/if}}" src="{{you.avatar}}">
					</a>
					<div class="comment-content">
						<div class="comment-name">
							<a href="{{you.url}}"><b>{{you.name}}</b></a>
						</div>
						<div class="comment-creator">
							<input type="text" class="comment-textbox" name="comment" id="comment-content-{{id}}" placeholder="Write a comment..." onkeypress="Graphene.comments.key(event, '{{id}}')">
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
			{{/if}}
		</div>
	{{/unless}}{{/ifCond}}
{{#if all}}
</div>
{{/if}}